MONGO_URI=your_mongodb_connection_string
PORT=5000
JWT_SECRET=your_jwt_secret_key
JWT_REFRESH_SECRET=your_jwt_refresh_secret_key
API_URL=your_api_url
NODE_ENV=developement
WS_HOST=your_websocket_host
ALLOWED_ORIGINS= http://localhost:3000,http://localhost:5173,http://localhost:4200